{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Cart page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Cart' second_title='Cart' %}
        <div class="Section">
            <div class="wrap">
                <form class="form Cart" action="#" method="post">
                    {% for key, item in cart_data.items %}
                        <div class="Cart-product">
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_pict">
                                    <a class="Cart-pict" href="{% url 'good-detail' item.category key %}">
                                        <img class="Cart-img" src="{{ item.image_url }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="card.jpg"/></a>
                                </div>
                                <div class="Cart-block Cart-block_info">
                                    <a class="Cart-title" href="{% url 'good-detail' item.category key %}">{{ item.name }}</a>
                                    <div class="Cart-desc">{{ item.description }}</div>
                                </div>
                                <div class="Cart-block Cart-block_price">
                                    <div class="Cart-price">{{ item.price }} {% trans 'rub' %}</div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_seller"></div>
                                <div class="Cart-block Cart-block_amount">
                                    <div class="Cart-amount">
                                        <div class="Amount">
                                            <a href="{% url 'cart_edit_quantity' key 'remove' %}" class="AmountRemove"></a>
                                            <div class="Amount-input form-input">{{ item.quantity }}</div>
                                            <a href="{% url 'cart_edit_quantity' key 'add' %}" class="AmountAdd"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_delete">
                                    <a class="Cart-delete" href="{% url 'cart_remove' key %}">
                                        <img src="{% static 'images/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">{% trans 'Summary' %}</strong>
                            <span class="Cart-price">{{ total_price }} {% trans 'rub' %}</span>
                        </div>
                        <div class="Cart-block">
                            <a class="btn btn_success btn_lg" href="{% url 'order_first_step' %}">{% trans 'Checkout' %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock base_content %}