{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Order page. Third step' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
    {% include 'components/after_header_menu.html' with first_title='Ordering. Step 3. Payment method' second_title='Ordering'  %}
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Filling progress' %}</strong>
                    </header>
                    <div class="Section-columnContent">
                        <ul class="menu menu_vt">
                            <li class="menu-item"><a class="menu-link" href="{% url 'order_first_step' %}">{% trans 'Step 1. User parameters' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'order_second_step' %}">{% trans 'Step 2. Delivery method' %}</a></li>
                            <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="">{% trans 'Step 3. Payment method' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="">{% trans 'Step 4. Order confirmation' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <form class="form" action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="Order-block Order-block_OPEN">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">{% trans 'Step 3. Payment method' %}</h2>
                        </header>
                        {% for field in payment_form.visible_fields %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        <div class="Order-footer">
                            <button class="btn btn_success">{% trans 'Next' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock base_content %}
