{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Order page. Fourth step' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
    {% include 'components/after_header_menu.html' with first_title='Ordering. Step 4. Order confirmation' second_title='Ordering'  %}
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Filling progress' %}</strong>
                    </header>
                    <div class="Section-columnContent">
                        <ul class="menu menu_vt">
                            <li class="menu-item"><a class="menu-link" href="{% url 'order_first_step' %}">{% trans 'Step 1. User parameters' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'order_second_step' %}">{% trans 'Step 2. Delivery method' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'order_third_step' %}">{% trans 'Step 3. Payment method' %}</a></li>
                            <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="">{% trans 'Step 4. Order confirmation' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <form class="form" method="post">
                    <header class="Section-header Section-header_sm">
                        <h2 class="Section-title">{% trans 'Step 4. Order confirmation' %}</h2>
                    </header>
                    <div class="Order-infoBlock">
                        <div class="Order-personal">
                            <div class="row">
                                <div class="row-block">
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Name:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.name }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Phone:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.phone_number }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Email:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.email }}</div>
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">{% trans 'Delivery method:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.delivery_method.name }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'City:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.city }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Address:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.address }}</div>
                                    </div>
                                    <div class="Order-info Order-info_pay">
                                        <div class="Order-infoType">{% trans 'Payment method:' %}</div>
                                        <div class="Order-infoContent">{{ purchase.payment_method.name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="Cart Cart_order">
                            {% for item in cart %}
                                {% with good=item.product %}
                                    {% with category=good.category.all|first %}
                                        <div class="Cart-product">
                                            <div class="Cart-block Cart-block_row">
                                                <div class="Cart-block Cart-block_pict">
                                                    {% with good.good_images.all|first as image %}
                                                    <a class="Cart-pict" href="{% url 'good-detail' category.name good.id %}">
                                                        <img class="Cart-img" src="{{ image }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="card.jpg"/>
                                                    </a>
                                                    {% endwith %}
                                                </div>
                                                <div class="Cart-block Cart-block_info">
                                                    <a class="Cart-title" href="{% url 'good-detail' category.name good.id %}">{{ good.name }}</a>
                                                    <div class="Cart-desc">{{ good.description }}</div>
                                                </div>
                                                <div class="Cart-block Cart-block_price">
                                                    <div class="Cart-price">{{ good.price }} {% trans 'rub' %}</div>
                                                </div>
                                            </div>
                                            <div class="Cart-block Cart-block_row">
                                                <div class="Cart-block Cart-block_amount">{{ item.quantity }}{% trans ' p.' %}</div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                            <div class="Cart-product">
                                <div class="delivery-row">
                                    <div class="Cart-block Cart-block_info">
                                        <div class="Cart-title">{{ purchase.delivery_method.name }} {% trans 'delivery' %}</div>
                                    </div>
                                    <div class="Cart-block Cart-block_price delivery-price">
                                        <div class="Cart-price">{{ purchase.delivery_cost }}</div>
                                    </div>
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_amount">1 {% trans 'p.' %}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="Cart-total">
                                <div class="Cart-block Cart-block_total">
                                    <strong class="Cart-title">{% trans 'Total' %}</strong>
                                    <span class="Cart-price">{{ total_amount }} {% trans 'rub' %}</span>
                                </div>
                                <div class="Cart-block">
                                    <a class="btn btn_primary btn_lg" href="{% url 'cart_checkout' %}">{% trans 'Pay' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock base_content %}
