{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Order page. First step' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
    {% include 'components/after_header_menu.html' with first_title='Ordering. User parameters' second_title='Ordering'  %}
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Filling progress' %}</strong>
                    </header>
                    <div class="Section-columnContent">
                        <ul class="menu menu_vt Order-navigate">
                            <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="">{% trans 'Step 1. User parameters' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="">{% trans 'Step 2. Delivery method' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="">{% trans 'Step 3. Payment method' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="">{% trans 'Step 4. Order confirmation' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <dialog>
                    {% include 'components/login_form.html' with form=login_form %}
                    <button class="button default close black">{% trans 'Close modal' %}</button>
                </dialog>
                <form class="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="Order-block Order-block_OPEN">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">{% trans 'Step 1. User parameters' %}</h2>
                        </header>
                        <div class="row">
                            {% if user.is_authenticated %}
                                <div class="row-block">
                                    {% for field in signup_form.visible_fields|slice:':2' %}
                                        <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row-block">
                                    {% for field in signup_form.visible_fields|slice:'2:' %}
                                        <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                            {% else %}
                                <div class="row-block">
                                    {% for field in signup_form.visible_fields|slice:':3' %}
                                        <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row-block">
                                    {{ signup_form.non_field_errors }}
                                    {% for field in signup_form.visible_fields|slice:'3:' %}
                                        <div class="form-group">
                                        {{ field.errors }}
                                        {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        <button class="btn btn_muted Order-btnReg button default open black">{% trans "I'm already registered" %}</button>
                                    </div>
                            {% endif %}
                                <div class="Order-footer">
                                    <button class="btn btn_success">{% trans 'Next' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock base_content %}
{% block custom_js %}
    <script src="{% static 'js/phone_input.js' %}"></script>
    <script src="{% static 'js/login_modal.js' %}"></script>
{% endblock custom_js%}
