{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Pay page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Pay page' second_title='Pay page'  %}
    </div>
    <div class="Section">
        <div class="wrap">
            <form class="form Payment" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="Payment-card">
                    <div class="form-group">
                        <label class="form-label">{% trans 'Card number' %}</label>
                        <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999" data-validate="require pay"/>
                    </div>
                </div>
                <div class="Payment-pay">
                    <button type="submit" class="btn btn_primary">{% trans 'Pay' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock base_content %}