{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Progress payment' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Progress payment' second_title='Progress payment' %}
        <div class="Section">
            <div class="wrap">
                <div class="ProgressPayment">
                    <div class="ProgressPayment-title">{% trans 'Waiting for answer by the payment system' %}</div>
                    <div class="ProgressPayment-icon">
                        <div class="cssload-thecube">
                            <div class="cssload-cube cssload-c1"></div>
                            <div class="cssload-cube cssload-c2"></div>
                            <div class="cssload-cube cssload-c4"></div>
                            <div class="cssload-cube cssload-c3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}

{% block custom_js %}
    <script src="{% static 'js/payment_redirect.js' %}"></script>
{% endblock custom_js %}