{% load static %}
{% load i18n %}

<header class="Header">
    <div class="ControlPanel">
        <div class="wrap">
            <div class="row ControlPanel-row">
                <div class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block"><a class="ControlPanel-title" href="#">{% trans 'Free Delivery' %}</a></div>
                        <div class="row-block hide_700"><span class="ControlPanel-title">{% trans 'Follow Us' %}</span>
                            <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'images/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a></li>
                                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'images/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a></li>
                                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'images/icons/socialHeader/in.svg' %}" alt="in.svg"/></a></li>
                                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'images/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a></li>
                                <li class="menu-item"><a class="menu-link" href="#"><img src="{% static 'images/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        {% if user.is_authenticated %}
                            <div class="row-block"><a class="ControlPanel-title" href="{% url 'account' %}">{% trans 'Account' %}</a></div>
                        {% else %}
                            <div class="row-block"><a class="ControlPanel-title" href="{% url 'login' %}">{% trans 'Login / Register' %}</a></div>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="{% url 'main-page' %}"><img class="logo-image" src="{% static 'images/logo.png' %}" alt="logo.png"/></a></div>
            <nav class="row-block row-block_right Header-menu">
                <div class="menuModal" id="navigate">
                    <ul class="menu menu_main">
                        <li class="menu-item"><a class="menu-link" href="{% url 'main-page' %}">Home</a></li>
                        <li class="menu-item"><a class="menu-link" href="{% url 'catalog' %}">{% trans 'Catalog' %}</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row-block">
                <div class="CartBlock">
                    <a class="CartBlock-block" href="{% url 'cart_detail' %}">
                        <img class="CartBlock-img" src="{% static 'images/icons/cart.svg' %}" alt="cart.svg"/>
                        <span class="CartBlock-amount">{{ cart.get_len }}</span>
                    </a>
                    <div class="CartBlock-block"><span class="CartBlock-price">{{ cart.get_total_price }}</span></div>
                </div>
            </div>
            <div class="row-block Header-trigger">
                <a class="menuTrigger" href="#navigate">
                    <div class="menuTrigger-content">{% trans 'Show navigation' %}</div>
                </a>
            </div>
        </div>
    </div>
    <div class="Header-searchWrap">
        <div class="wrap">
            <div class="Header-categories">
                <div class="CategoriesButton">
                    <div class="CategoriesButton-title">
                        <div class="CategoriesButton-icon">
                            <img src="{% static 'images/icons/allDep.svg' %}" alt="allDep.svg"/>
                        </div>
                        <span class="CategoriesButton-text">{% trans "All category's" %}</span>
                        <div class="CategoriesButton-arrow"></div>
                    </div>
                    <div class="CategoriesButton-content">
                        {% for i_cat in categories %}
                            <div class="CategoriesButton-link">
                                <a href="{% url 'category-catalog' i_cat.name %}">
                                    <div class="CategoriesButton-icon">
                                        <img src="{{ i_cat.icon.url }}" alt="1.svg"/>
                                    </div>
                                    <span class="CategoriesButton-text">{{ i_cat.name }}</span>
                                </a>
                                {% if i_cat.subcategory.all %}
                                    <a class="CategoriesButton-arrow" href="#"></a>
                                    <div class="CategoriesButton-submenu">
                                        {% for i_sub_cat in i_cat.subcategory.all %}
                                            <a class="CategoriesButton-link" href="#">
                                                <div class="CategoriesButton-icon">
                                                    <img src="{{ i_sub_cat.image.url }}" alt="1.svg"/>
                                                </div>
                                                <span class="CategoriesButton-text">{{ i_sub_cat.name }}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="Header-searchLink">
                <img src="{% static 'images/icons/search.svg' %}" alt="search.svg"/>
            </div>
            <div class="Header-search">
                <div class="search">
                    <form class="form form_search" action="{% url 'catalog' %}" method="get">
                        {% for field in filter_form.form %}
                            <input class="search-input" id="query" name="{{ field.name }}" type="text" placeholder="What are you looking for ..."/>
                        {% endfor %}
                        <button class="search-button" type="submit" name="search" id="search">
                            <img src="{% static 'images/icons/search.svg' %}" alt="search.svg"/>Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>