{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load url_builder %}

{% block title %}{% trans 'Catalog' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Catalog' second_title='Catalog' %}
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">{% trans 'Filter' %}</strong>
                    </header>
                    <div class="Section-columnContent">
                        <form class="form" action="{{ request.path }}" method="get">
                            {% for field in form.form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="buttons">
                                    <button class="btn btn_square btn_dark btn_narrow">{% trans 'Filter' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <div class="Sort">
                    <div class="Sort-title">{% trans 'Sort by' %}</div>
                    <div class="Sort-variants">
                        <a class="Sort-sortBy" href="{% url_tmplt '-date_of_adding' 'ordering' request.GET.urlencode %}">{% trans 'New first' %}</a>
                        <a class="Sort-sortBy" href="{% url_tmplt 'date_of_adding' 'ordering' request.GET.urlencode %}">{% trans 'Old first' %}</a>
                        <a class="Sort-sortBy" href="{% url_tmplt 'price' 'ordering' request.GET.urlencode %}">{% trans 'From cheap' %}</a>
                        <a class="Sort-sortBy" href="{% url_tmplt '-price' 'ordering' request.GET.urlencode %}">{% trans 'From expensive' %}</a>
                        <a class="Sort-sortBy" href="{% url_tmplt 'more' 'reviews' request.GET.urlencode %}">{% trans 'More reviews' %}</a>
                        <a class="Sort-sortBy" href="{% url_tmplt 'less' 'reviews' request.GET.urlencode %}">{% trans 'Less reviews' %}</a>
                    </div>
                </div>
                <div class="Cards">
                    {% for good in goods %}
                        {% include 'components/goods_with_pagination.html' with good=good image=good.good_images.all.first %}
                    {% endfor %}
                </div>
                <div class="Pagination">
                    {% include 'components/pagination_list.html' with obj=goods %}
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}