{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Main page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle">
        <div class="Section">
            <div class="wrap">
                <div class="BannersHome">
                    {% for i_category in special_categories %}
                        <a class="BannersHomeBlock" href="{% url 'category-catalog' i_category.name %}">
                            <div class="BannersHomeBlock-row">
                                <div class="BannersHomeBlock-block">
                                    <strong class="BannersHomeBlock-title">{{ i_category.name }}</strong>
                                    <div class="BannersHomeBlock-content">{% trans 'from' %}
                                        <span class="BannersHomeBlock-price">{{ i_category.min_good_price }}</span></div>
                                </div>
                                <div class="BannersHomeBlock-block">
                                    <div class="BannersHomeBlock-img">
                                        <img src="{{ i_category.image.url }}" alt="videoca.png"/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnDesktop"  >
            <div class="wrap">
                <div class="Section-content">
                    <header class="Section-header">
                        <h2 class="Section-title">{% trans 'Popular products' %}</h2>
                    </header>
                    <div class="Cards">
                        {% for good in top_products %}
                            {% with good.category.all|first as category %}
                            <div class="Card">
                            <a class="Card-picture" href="{% url 'good-detail' category.name good.id %}">
                                {% with good.good_images.all|first as image %}
                                    <img src="{{ image }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="card.jpg"/></a>
                                {% endwith %}
                            <div class="Card-content">
                                <strong class="Card-title">
                                    <a href="{% url 'good-detail' category.name good.id %}">{{ good.name }}</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">{{ good.price }} {% trans 'rub' %}</span></div>
                                    <div class="Card-category">{{ good.manufacturer.name }}</div>
                                    <div class="Card-hover">
                                        <form action="{% url "cart_add" good.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value=1>
                                            <input type="hidden" name="goods" value={{ good.id }} />
                                            <button class="Card-btn"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div class="Section Section_column Section_columnRight">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection Section-columnSection_mark">
                    <div class="media media_advantage">
                        <div class="media-image">
                            <img src="{% static 'images/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
                        </div>
                        <div class="media-content">
                            <strong class="media-title">Shipping & Returns</strong>
                            <p class="media-text">World wide shipping</p>
                        </div>
                    </div>
                </div>
                <div class="Section-columnSection Section-columnSection_mark">
                    <div class="media media_advantage">
                        <div class="media-image">
                            <img src="{% static 'images/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
                        </div>
                        <div class="media-content">
                            <strong class="media-title">Money Back</strong>
                            <p class="media-text">Guaranted payments
                            </p>
                        </div>
                    </div>
                </div>
                <div class="Section-columnSection Section-columnSection_mark">
                    <div class="media media_advantage">
                        <div class="media-image">
                            <img src="{% static 'images/icons/advantages/support.svg' %}" alt="support.svg"/>
                        </div>
                        <div class="media-content">
                            <strong class="media-title">Support Policy</strong>
                            <p class="media-text">Fast support team</p>
                        </div>
                    </div>
                </div>
                <div class="Section-columnSection Section-columnSection_mark">
                    <div class="media media_advantage">
                        <div class="media-image">
                            <img src="{% static 'images/icons/advantages/quality.svg' %}" alt="quality.svg"/>
                        </div>
                        <div class="media-content">
                            <strong class="media-title">Quality Guarantee</strong>
                            <p class="media-text">Best guaranted items</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <div class="Slider Slider_carousel">
                    <header class="Section-header Section-header_close">
                        <h2 class="Section-title">{% trans 'Limited edition' %}
                        </h2>
                        <div class="Section-control">
                            <div class="Slider-navigate"></div>
                        </div>
                    </header>
                    <div class="Slider-box Cards">
                        {% for i_product in limited_products %}
                            {% with i_product.category.all|first as category %}
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card">
                                        <a class="Card-picture" href="{% url 'good-detail' category.name i_product.id %}">
                                            {% with i_product.good_images.all|first as image %}
                                                <img src="{{ image }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="card.jpg"/></a>
                                            {% endwith %}
                                        <div class="Card-content">
                                            <strong class="Card-title">
                                                <a href="{% url 'good-detail' category.name i_product.id %}">{{ i_product.name }}</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">{{ i_product.price }}</span></div>
                                                <div class="Card-category">{{ i_product.category.name }}</div>
                                                <div class="Card-hover">
                                                    <form action="{% url "cart_add" i_product.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="quantity" value=1>
                                                        <input type="hidden" name="goods" value={{ i_product.id }} />
                                                        <button class="Card-btn"></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock base_content %}