{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{{ good.name }}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title=good.name second_title=good.name %}
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <div class="ProductCard">
                        <div class="ProductCard-look">
                            {% for image in good.good_images.all %}
                                {% if forloop.first %}
                                    <div class="ProductCard-photo">
                                        <img src="{{ image.image.url }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="bigGoods.png"/>
                                    </div>
                                    <div class="ProductCard-picts">
                                        <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ image.image.url }}">
                                            <img src="{{ image.image.url }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="bigGoods.png"/>
                                        </a>
                                {% else %}
                                    <a class="ProductCard-pict" href="{{ image.image.url }}">
                                        <img src="{{ image.image.url }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="bigGoods.png"/>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title">{{ good.name }}</h2>
                                <div class="ProductCard-info">
                                    <div class="ProductCard-cost">
                                        <div class="ProductCard-price">{{ good.price }} {% trans 'rub' %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-text">
                                <p class="product-description">{{ good.description }}</p>
                            </div>
                            <div class="ProductCard-cart">
                                <form class="product-detail-form" action="{% url "cart_add" good.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                                        <div class="Amount Amount_product">
                                            <button class="Amount-remove" type="button"></button>
                                            <input class="Amount-input form-input" name="quantity" type="text" value="1"/>
                                            <button class="Amount-add" type="button"></button>
                                        </div>
                                        <input type="hidden" name="goods" value={{ good.id }} />
                                    </div>
                                    <div class="cart-btn">
                                        <button class="detail-btn-cart">{% trans 'Add to cart' %}</button>
                                    </div>
                                </form>
                            </div>
                            <div class="ProductCard-footer">
                                <div class="ProductCard-tags">
                                    <strong class="ProductCard-tagsTitle">{% trans 'Categories' %}</strong>
                                    {% for category in good.category.all %}
                                        <a href="{% url 'category-catalog' category.name %}">{{ category.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>{% trans 'Description' %}</span></a>
                            <a class="Tabs-link" href="#addit"><span>{% trans 'Additional info' %}</span></a>
                            <a class="Tabs-link" href="#reviews"><span>{% trans 'Reviews' %} ({{ good.good_reviews.all.count }})</span></a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                <h2>Megano Store Hystory</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer&#32;
                                    <strong>adipiscing</strong>
                                    &#32;elit doli. Aenean commodo ligula eget dolor. Aenean massa.&#32;
                                    <a href="#">Cumtipsu</a>&#32;sociis natoque penatibus et magnis dis
                                    parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies
                                    nec, pellentesque eutu, pretiumem.
                                </p>
                                <img class="pict pict_right" src="assets/img/content/home/bigGoods.png" alt="bigGoods.png"/>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetuer</li>
                                    <li>adipiscing elit doli.&#32;<em>Aenean</em>&#32;commodo ligula</li>
                                    <li>eget dolor. Aenean massa. Cumtipsu sociis</li>
                                    <li>natoque penatibus et magnis dis parturient</li>
                                    <li>montesti, nascetur ridiculus mus. Donec</li>
                                    <li>quam felis, ultricies nec, pellentesque eutu</li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>Характеристика</th>
                                            <th>Значение</th>
                                        </tr>
                                        <tr>
                                            <td>ываыв</td>
                                            <td>llslssl</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="Tabs-block" id="sellers">
                                <div class="Categories Categories_product"></div>
                            </div>
                            <div class="Tabs-block" id="addit">
                                <div class="Product-props">
                                    <div class="Product-prop">
                                        <strong>Lorem</strong><span> Pfizer</span>
                                    </div>
                                    <div class="Product-prop">
                                        <strong>ipsum</strong><span> Lorem ipsum dolor sit</span>
                                    </div>
                                    <div class="Product-prop">
                                        <strong>dolor sit</strong><span> 5 ans</span>
                                    </div>
                                    <div class="Product-prop">
                                        <strong>psum dolo</strong><span> 2–3 jours</span>
                                    </div>
                                </div>
                            </div>
                            <div class="Tabs-block" id="reviews">
                                <header class="Section-header">
                                    <h3 class="Section-title">{{ good.good_reviews.all.count }}{% trans 'Reviews'%}</h3>
                                </header>
                                <div class="container">
                                    {% for review in good.good_reviews.all %}
                                        {% include 'components/comment.html' with obj=review %}
                                    {% endfor %}
                                    <a href="#" id="loadMore">{% trans 'Load more' %}</a>
                                </div>
                                <header class="Section-header Section-header_product">
                                    <h3 class="Section-title">Add Review</h3>
                                </header>
                                {% if user.is_authenticated %}
                                    {% include 'components/add_new_review.html' %}
                                {% else %}
                                    <p>{% trans 'You must be logged in to leave reviews' %}</p>
                                    <a href="{% url 'login' %}" class="login-link">{% trans 'Login' %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}
{% block custom_js %}
  <script src="{% static 'js/review_hider.js' %}"></script>
{% endblock custom_js %}