{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="{{ LANGUAGE_CODE }}">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="{{ LANGUAGE_CODE }}">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="{{ LANGUAGE_CODE }}">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="{{ LANGUAGE_CODE }}">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="{{ LANGUAGE_CODE }}">
<![endif]-->
<!--[if gt IE 11]><!--> <html lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  <title>{% block title %}{% endblock title %} - Megano</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
  <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Regular.woff' %}" as="font">
  <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Bold.woff' %}" as="font">
  <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
  <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Light.woff' %}" as="font">
  <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/basic.css' %}">
  <link rel="stylesheet" href="{% static 'css/extra.css' %}">
  <script src="{% static 'plg/CountDown/countdown.js' %}"></script><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body class="Site">

  {% include 'core/header.html' %}

  <main>
  {% block base_content %} {% endblock base_content %}
  </main>

  {% include 'core/footer.html' %}

  <script src="{% static 'plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  {% block custom_js %}{% endblock custom_js %}


</body></html>
