{% load i18n %}

<div class="NavigateProfile">
    <ul class="menu menu_vt">
      <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'account' %}">{% trans 'Personal account' %}</a></li>
      <li class="menu-item"><a class="menu-link" href="{% url 'edit_profile' obj.id %}">{% trans 'Profile' %}</a></li>
      <li class="menu-item"><a class="menu-link" href="{% url 'history_order' %}">{% trans 'Purchase history' %}</a></li>
    </ul>
</div>