{% load i18n %}

<div class="Tabs-addComment">
    <form class="form" action="#" method="post">
        {% csrf_token %}
        {{ review_form.as_p }}
        <div class="form-group">
            <button class="btn btn_muted" type="submit">{% trans 'Submit review' %}</button>
        </div>
    </form>
</div>


{##}
{#<div class="form-group">#}
{#    <textarea class="form-textarea" name="review" id="review" placeholder="Review"></textarea>#}
{#</div>#}
{#<div class="form-group">#}
{#    <div class="row">#}
{#        <div class="row-block">#}
{#            <input class="form-input" id="name" name="name" type="text" placeholder="Name"/>#}
{#        </div>#}
{#        <div class="row-block">#}
{#            <input class="form-input" id="email" name="email" type="text" placeholder="Email"/>#}
{#        </div>#}
{#    </div>#}
{#</div>#}