{% load static %}

<div class="content item-js">
    <div class="Comment">
        <div class="Comment-column Comment-column_pict">
            <div class="Comment-avatar">
                <img src="{{ request.user.get_account_image }}" alt="User avatar" class="user-pict">
            </div>
        </div>
        <div class="Comment-column">
            <header class="Comment-header">
                <div>
                    <strong class="Comment-title">{{ obj.user.name }}</strong>
                    <span class="Comment-date">{{ obj.date_of_review }}</span>
                </div>
            </header>
            <div class="Comment-content">{{ obj.text }}</div>
        </div>
    </div>
</div>