{% load static %}
{% load i18n %}

{% with good.category.all|first as good_category %}
    <div class="Card">
        <a class="Card-picture" href="{% url 'good-detail' good_category.name good.id %}">
            <img src="{{ image }}" onError="this.src='{% static 'images/good-tmplt.jpg' %}'" alt="card.jpg"/>
        </a>
        <div class="Card-content">
            <strong class="Card-title">
                <a href="{% url 'good-detail' good_category.name good.id %}">{{ good.name }}</a>
            </strong>
            <div class="Card-description">
                <div class="Card-cost"><span class="Card-price">{{ good.price }} {% trans 'rub' %}</span></div>
                <div class="Card-category">{{ good.manufacturer.name }}</div>
                <div class="Card-hover">
                    <form action="{% url "cart_add" good.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value=1>
                        <input type="hidden" name="goods" value={{ good.id }} />
                        <button class="Card-btn"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endwith %}