{% load i18n %}

<div class="Section-content">
    <div class="Account">
        <h2>{% trans 'Enter data for authorization' %}</h2>
        <form class="login" action="{% url 'login' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans 'Login' %}</button>
        </form>
        <div class="register-block">
            <span>{% trans "Don't have an acount?" %}</span>
            <a href="{% url 'registration' %}" class="registration-link">{% trans 'Register' %}</a>
        </div>
        <div class="reset-password-block">
            <span>{% trans "Forgot your password?" %}</span>
            <a href="{% url 'reset_password' %}" class="registration-link">{% trans 'Reset password' %}</a>
        </div>
    </div>
</div>