{% load static %}
{% load i18n %}
{% load url_builder %}

<div class="Pagination-ins">
    {% if obj.has_previous %}
        <a class="Pagination-element Pagination-element_prev" href="{% url_tmplt obj.previous_page_number 'page' request.GET.urlencode %}">
            <img src="{% static 'images/icons/prevPagination.svg' %}" alt="prevPagination.svg"/></a>
        <a class="Pagination-element" href="{% url_tmplt obj.previous_page_number 'page' request.GET.urlencode %}">
            <span class="Pagination-text">{{ obj.previous_page_number }}</span></a>
    {% endif %}
    <a class="Pagination-element Pagination-element_current">
        <span class="Pagination-text">{{ obj.number }}</span></a>
    {% if obj.has_next %}
        <a class="Pagination-element" href="{% url_tmplt obj.next_page_number 'page' request.GET.urlencode %}">
            <span class="Pagination-text">{{ obj.next_page_number }}</span></a>
        <a class="Pagination-element Pagination-element_prev" href="{% url_tmplt obj.next_page_number 'page' request.GET.urlencode %}">
            <img src="{% static 'images/icons/nextPagination.svg' %}" alt="nextPagination.svg"/></a>
    {% endif %}
</div>