{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Account page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Personal account' second_title='Account' %}
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans 'Navigation' %}</strong>
                        </header>
                        <div class="Section-columnContent">
                            {% include 'components/account_menu_header.html' with obj=user %}
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Account">
                        <div class="Account-group">
                            <div class="Account-column">
                                <div class="Account-avatar">
                                    <img src="{{ user.get_account_image }}" alt="card.jpg"/>
                                </div>
                            </div>
                            <div class="Account-column">
                                <div class="Account-name">{{ user.name }}</div>
                                <a class="edit-profile" href="{% url 'edit_profile' user.id %}">{% trans 'Edit profile' %}</a>
                                <a class="logout-link" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                            </div>
                        </div>
                        <div class="Account-group">
                            <div class="Account-column Account-column_full">
                                <div class="Order Order_anons">
                                    <div class="Order-personal">
                                        <div class="row">
                                            <div class="row-block">
                                                <a class="Order-title" href="{% url 'order_detail' last_order.id %}">{% trans 'Order' %}
                                                    <span class="Order-numberOrder">{{ last_order.id }}</span> {% trans 'from' %}
                                                    <span class="Order-dateOrder">{{ last_order.date_of_purchase }}</span>
                                                </a>
                                                <div class="Account-editLink"><a href="{% url 'history_order' %}">{% trans 'History order' %}</a></div>
                                            </div>
                                            <div class="row-block">
                                                <div class="Order-info Order-info_delivery">
                                                    <div class="Order-infoType">{% trans 'Delivery method:' %}</div>
                                                    <div class="Order-infoContent">{{ last_order.delivery_method }}</div>
                                                </div>
                                                <div class="Order-info Order-info_pay">
                                                    <div class="Order-infoType">{% trans 'Payment method:' %}</div>
                                                    <div class="Order-infoContent">{{ last_order.payment_method }}</div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% trans 'Total:' %}</div>
                                                    <div class="Order-infoContent">{{ last_order.total_amount }}</div>
                                                </div>
                                                <div class="Order-info Order-info_status">
                                                    <div class="Order-infoType">{% trans 'Status:' %}</div>
                                                    {% if last_order.payment_status %}
                                                    <div class="Order-infoContent">{% trans 'Paid' %}</div>
                                                    {% else %}
                                                    <div class="Order-infoContent">{% trans 'Not paid' %}</div>
                                                </div>
                                                    <div class="Order-info Order-info_error">
                                                    <div class="Order-infoType">{% trans 'Payment error' %}</div>
                                                    <div class="Order-infoContent">{{ last_order.payment_error }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}