{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Edit profile' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Edit profile' second_title='Edit profile' %}
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans 'Navigation' %}</strong>
                        </header>
                        <div class="NavigateProfile">
                            <ul class="menu menu_vt">
                              <li class="menu-item"><a class="menu-link" href="{% url 'account' %}">{% trans 'Personal account' %}</a></li>
                              <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'edit_profile' user.id %}">{% trans 'Profile' %}</a></li>
                              <li class="menu-item"><a class="menu-link" href="{% url 'history_order' %}">{% trans 'Purchase history' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
                        <form class="form Profile-form" action="#" method="post">
                            <div class="row">
                                <form class="form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row-block">
                                        {% for field in form.visible_fields|slice:":2" %}
                                            <div class="form-group">
                                                {% if field.name == 'profile_image' %}
                                                    {{ field.errors }}
                                                    {{ field.label_tag }}
                                                    <div class="Profile-avatar Profile-avatar_noimg">
                                                    <div class="Profile-img"><img src="{{ user.get_account_image }}" alt="#.png"/></div>
                                                        <label class="Profile-fileLabel" for="avatar">{% trans 'Select avatar' %}</label>
                                                        <input class="Profile-file form-input" value="{{ field.name }}" id="avatar" name="{{ field.name }}" type="file" data-validate="onlyImgAvatar"/>
                                                    </div>
                                                {% else %}
                                                    {{ field.errors }}
                                                    {{ field.label_tag }} {{ field }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row-block">
                                        {% for field in form.visible_fields|slice:'2:' %}
                                            <div class="form-group">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}
                                            </div>
                                        {% endfor %}
                                        <div class="form-group">
                                            <div class="buttons">
                                                <button class="btn btn_success">{% trans 'Update' %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}
{% block custom_js %}
    <script src="{% static 'js/phone_input.js' %}"></script>
{% endblock custom_js %}