{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'History of purchases' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='History order' second_title='History order' %}
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">{% trans 'Navigation' %}</strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                  <li class="menu-item"><a class="menu-link" href="{% url 'account' %}">{% trans 'Personal account' %}</a></li>
                                  <li class="menu-item"><a class="menu-link" href="{% url 'edit_profile' user.id %}">{% trans 'Profile' %}</a></li>
                                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="">{% trans 'Purchase history' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Orders">
                        {% for order in purchases %}
                                <div class="Order Order_anons">
                                    <div class="Order-personal">
                                        <div class="row">
                                            <div class="row-block"><a class="Order-title" href="{% url 'order_detail' order.id %}">{% trans 'Order' %}
                                                <span class="Order-numberOrder">{{ order.id }}</span> {% trans 'from' %}
                                                <span class="Order-dateOrder">{{ order.date_of_purchase }}</span></a></div>
                                            <div class="row-block">
                                                <div class="Order-info Order-info_delivery">
                                                    <div class="Order-infoType">{% trans 'Delivery method' %}</div>
                                                    <div class="Order-infoContent">{{ order.delivery_method }}</div>
                                                </div>
                                                <div class="Order-info Order-info_pay">
                                                    <div class="Order-infoType">{% trans 'Payment method' %}</div>
                                                    <div class="Order-infoContent">{{ order.payment_method }}</div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">{% trans 'Total' %}</div>
                                                    <div class="Order-infoContent">
                                                        <span class="Order-price">{{ order.total_amount }}</span>
                                                    </div>
                                                </div>
                                                <div class="Order-info Order-info_status">
                                                    <div class="Order-infoType">{% trans 'Status' %}</div>
                                                    {% if order.payment_status %}
                                                    <div class="Order-infoContent">{% trans 'Paid' %}</div>
                                                    {% else %}
                                                    <div class="Order-infoContent">{% trans 'Not paid' %}</div>
                                                </div>
                                                    <div class="Order-info Order-info_error">
                                                    <div class="Order-infoType">{% trans 'Payment error' %}</div>
                                                    <div class="Order-infoContent">{{ order.payment_error }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
{#                                <div class="Order Order_anons">#}
{#                                    <div class="Order-personal">#}
{#                                        <div class="row">#}
{#                                            <div class="row-block">#}
{#                                                <a class="Order-title" href="oneorder.html">Заказ&#32;#}
{#                                                    <span class="Order-numberOrder">№199</span>#}
{#                                                    &#32;от&#32;#}
{#                                                    <span class="Order-dateOrder">20.07.2020</span>#}
{#                                                </a>#}
{#                                            </div>#}
{#                                            <div class="row-block">#}
{#                                                <div class="Order-info Order-info_delivery">#}
{#                                                    <div class="Order-infoType">Тип доставки:</div>#}
{#                                                    <div class="Order-infoContent">Обычная доставка</div>#}
{#                                                </div>#}
{#                                                <div class="Order-info Order-info_pay">#}
{#                                                    <div class="Order-infoType">Оплата:</div>#}
{#                                                    <div class="Order-infoContent">Онлайн картой</div>#}
{#                                                </div>#}
{#                                                <div class="Order-info">#}
{#                                                    <div class="Order-infoType">Общая стоимость:</div>#}
{#                                                    <div class="Order-infoContent">#}
{#                                                        <span class="Order-price">100.99$</span>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="Order-info Order-info_status">#}
{#                                                    <div class="Order-infoType">Статус:</div>#}
{#                                                    <div class="Order-infoContent">Оплачен</div>#}
{#                                                </div>#}
{#                                                <div class="Order-info Order-info_error">#}
{#                                                    <div class="Order-infoType">Оплата не прошла:</div>#}
{#                                                    <div class="Order-infoContent">Оплата не выполнена, т.к. вы подозреваетесь в нетолерантности</div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}
