{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Login page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Login' second_title='Login' %}
        <div class="Section Section_column Section_columnCenter">
            <div class="wrap">
                {% include 'components/login_form.html' with form=form %}
            </div>
        </div>
    </div>
{% endblock base_content %}