{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Logout page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Logout' second_title='Logout' %}
        <div class="Section Section_column Section_columnCenter">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Account">
                        <h2>{% trans 'You have successfully logged out' %}</h2>
                        <a href="{% url 'login' %}" class="registration-link">{% trans 'Login' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}
