{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Order' %} {{ order.id }}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Order' second_title='Order' %}
        <div class="Section">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Orders"></div>
                    <div class="Order">
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info Order-info_date">
                                            <div class="Order-infoType">{% trans 'Date of order' %}</div>
                                            <div class="Order-infoContent">{{ order.date_of_purchase }}</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Name' %}</div>
                                            <div class="Order-infoContent">{{ order.name }}</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Phone number' %}</div>
                                            <div class="Order-infoContent">{{ order.phone_number }}</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Email' %}</div>
                                            <div class="Order-infoContent">{{ order.email }}</div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">{% trans 'Delivery method' %}</div>
                                            <div class="Order-infoContent">{{ order.delivery_method }}</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'City' %}</div>
                                            <div class="Order-infoContent">{{ order.city }}</div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">{% trans 'Address' %}</div>
                                            <div class="Order-infoContent">{{ order.address }}</div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-infoType">{% trans 'Payment method' %}</div>
                                            <div class="Order-infoContent">{{ order.payment_method }}</div>
                                        </div>
                                        <div class="Order-info Order-info_status">
                                            <div class="Order-infoType">{% trans 'Status' %}</div>
                                            {% if order.payment_status %}
                                            <div class="Order-infoContent">{% trans 'Paid' %}</div>
                                            {% else %}
                                            <div class="Order-infoContent">{% trans 'Not paid' %}</div>
                                        </div>
                                            <div class="Order-info Order-info_error">
                                            <div class="Order-infoType">{% trans 'Payment error' %}</div>
                                            <div class="Order-infoContent">{{ order.payment_error }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart Cart_order">
                                {% for product in order.purchase.all %}
                                    {% with category=product.good.category.all|first %}
                                        <div class="Cart-product">
                                            <div class="Cart-block Cart-block_row">
                                                <div class="Cart-block Cart-block_pict">
                                                    {% with product.good.good_images.all|first as product_photo %}
                                                    <a class="Cart-pict" href="{% url 'good-detail' category.name product.good.id %}">
                                                        <img class="Cart-img" src="{{ product_photo }}" alt="card.jpg"/>
                                                    </a>
                                                    {% endwith %}
                                                </div>
                                                <div class="Cart-block Cart-block_info">
                                                    <a class="Cart-title" href="{% url 'good-detail' category.name product.good.id %}">{{ product.good.name }}</a>
                                                    <div class="Cart-desc">{{ product.good.description }}</div>
                                                </div>
                                                <div class="Cart-block Cart-block_price">
                                                    <div class="Cart-price">{{ product.sum }}</div>
                                                </div>
                                            </div>
                                            <div class="Cart-block Cart-block_row">
                                                <div class="Cart-block Cart-block_amount">{{ product.pieces }} {% trans 'p.' %}</div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endfor %}

                                <div class="Cart-product">
                                    <div class="delivery-row">
                                        <div class="Cart-block Cart-block_info">
                                            <div class="Cart-title">{{ order.delivery_method.name }} {% trans 'delivery' %}</div>
                                        </div>
                                        <div class="Cart-block Cart-block_price delivery-price">
                                            <div class="Cart-price">{{ order.delivery_cost }}</div>
                                        </div>
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_amount">1 {% trans 'p.' %}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="Cart-total">
                                    <div class="Cart-block Cart-block_total">
                                        <strong class="Cart-title">{% trans 'Total' %}
                                            <span class="Cart-price">{{ order.total_amount }}</span>
                                        </strong>
                                    </div>
                                    {% if not order.payment_status %}
                                    <div class="Cart-block">
                                        <a class="btn btn_primary btn_lg" href="{% url 'cart_pay' order.id %}">{% trans 'Pay' %}</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}