{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password reset done' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Password reset done' second_title='Password reeset done' %}
        <div class="Section Section_column Section_columnCenter">
            <div class="wrap">
                <div class="Section-content">
                    <p>We've emailed you instructions for setting your password,
                        if an account exists with the email you entered. You should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}