{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Password reset complete' second_title='Password reset complete' %}
        <div class="Section Section_column Section_columnCenter">
            <div class="wrap">
                <div class="Section-content">
                    <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}