{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Password reset confirm' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Password reset confirm' second_title='Password reset confirm' %}
        <div class="Section Section_column Section_columnCenter">
            <div class="wrap">
                <div class="Section-content">
                    {% if validlink %}
                        <h3>{% trans 'Set your new password' %}</h3>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">{% trans 'Change password' %}</button>
                        </form>
                    {% else %}
                        <p>The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}