{% extends 'base.html' %}

{% load static %}
{% load i18n%}

{% block title %}{% trans 'Registration page' %}{% endblock title %}

{% block base_content %}
    <div class="Middle Middle_top">
        {% include 'components/after_header_menu.html' with first_title='Registration' second_title='Registration' %}
        <div class="Section Section_column Section_columnCenter">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Account">
                        <h2>{% trans 'Enter data for registration' %}</h2>
                        <form class="login-form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">{% trans 'Register' %}</button>
                        </form>
                        <span>{% trans "Already have an account" %}</span>
                        <a href="{% url 'login' %}" class="registration-link">{% trans 'Login' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}

